* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./img/espaco.jpg');
}

header {
  display: flex;
  justify-content: center;
}
.logo{
  padding-top: 16px;
}

h2, h3 {
  color: #fffffe;
  display: flex;
  justify-content: center;
  margin: 15px;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  
}

p {
  color: #72757e;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 800;
}

.datefield,
.button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 2px solid #72757e;
  border-bottom: 4px solid #72757e;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.datefield:hover {
  border-color: #7f5af0;
}

.button {
  background-color: #7f5af0;
  border-color: #422d81;
  color: #fffffe;
  font-weight: 600;
}

.button:hover {
  border-color: #fffffe;
}
.containerdate{
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
  gap: 10px;
  
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#imagem {
  width: 40%;
  border-radius: 20px;
  margin: 10px;
  height: 400px
}

iframe {
  border-radius: 20px;
}

.info{
  margin: 9px;
  width: 40%;
  padding-left: 16px; 
 
}
.linkimg{
  width: 2em;
}

@media(max-width:414px){
  .container{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #imagem{
    height: 200px;
    width: 70%;
  }
  .info{
    width: 80%;
    height: 300px;
  }
  #video{
    width: 300px;
  }
}

@media(max-width:915px){
  .container{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .info{
    width: 90%;
    height: 300px;
  }
  p{
    font-size: 20px;
  }
}
